body{
  background-color: lightblue;
  opacity: 0.7;
}
img{
  width:100%
}
#top{
  text-align: center;
  color: black;
  font-family: 'Libre Barcode 128 Text',serif;
}
.video iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
h2{   font-family: 'Pathway Gothic One', sans-serif;
.note {
  font-size: 120%;
  color: Darkblue;
}
h3{
  color: Darkblue
  font-family:Times, Times New Roman, Georgia, serif;
  font-size: 100;
  font-weight: normal;
}


h1{
  font-family:'Libre Barcode 128 Text',serif;
  border-width: 1px 4px 12px 4px;
}
